<!-- Parameter:
arbeitsUndSozialVerhalten - ein arbeitsUndSozialVerhalten

disabled - flag if the view should be editable.
saveUrl - die URL zum speichern.
users - a list of selectable user
tags - a list of selectable tag
 -->
<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head >
<title th:text="|#{arbeitsUndSozialVerhalten.form.title} (${arbeitsUndSozialVerhalten.name})|"></title>
</head>
<body th:with="helpMessageId=help.arbeitsUndSozialVerhalten.edit">
    <div layout:fragment="content">
    <h3 th:text="#{arbeitsUndSozialVerhalten.form.title}"></h3>
    <form class="well form-horizontal" method="post" th:object="${arbeitsUndSozialVerhalten}">
        <div th:replace="/fragments::error"></div>

        <input id="id" type="hidden" th:value="*{id}" name="id"/>
        <input id="version" type="hidden" th:value="*{version}" name="version"/>
        <input type="text" class="span4" bs:field="name" th:disabled="${disabled}"/>
        <input type="text" class="span4" bs:field="sortierung" th:disabled="${disabled}"/>
        <input type="text" class="span4" bs:field="typ" disabled="disabled" th:if="${disabled}"/>
        <select class="span4" bs:field="typ" th:unless="${disabled}">
            <option th:each="typ : ${avsvtypen}" th:value="${typ.name()}" th:text="${typ}" th:classappend="${typ==arbeitsUndSozialVerhalten.typ}? 'highlight'"></option>
        </select>
        <input type="text" class="span4" bs:field="klassenstufen" th:disabled="${disabled}"/>
        <button type="submit" th:formaction="@{${saveUrl}}" class="btn" th:unless="${disabled || saveUrl == null}">
            <i class="save"></i>Speichern</button>
        <a th:href="@{|__#{nurl.arbeitsundsozialverhalten.edit}__|}" class="btn" th:if="${disabled}">
            <i class="edit"></i>Bearbeiten</a>
        <a th:href="@{#{nurl.arbeitsundsozialverhalten.list}}" class="btn">
            <i class="cancel"></i>Abbrechen</a>
        <th:block th:include="/fragments::deletebutton(#{nurl.arbeitsundsozialverhalten.delete})"></th:block>
    </form>


    </div>
</body>
</html>
