<!-- Parameter:
zeugnisArt - ein zeugnisArt

disabled - flag if the view should be editable.
saveUrl - die URL zum speichern.
users - a list of selectable user
tags - a list of selectable tag
 -->
<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head >
    <title th:text="#{zeugnisArt.form.title} (${zeugnisArt.name})"></title>
</head>
<body th:with="helpMessageId=help.zeugnisArt.edit">
    <div layout:fragment="content">
    <h3 th:text="#{zeugnisArt.form.title}"></h3>
    <form class="well form-horizontal" method="post" th:object="${zeugnisArt}">
        <div th:replace="/fragments::error"></div>

        <input id="id" type="hidden" th:value="*{id}" name="id"/>
        <input id="version" type="hidden" th:value="*{version}" name="version"/>
        <input type="text" class="span3" bs:field="name" th:disabled="${disabled}"/>
        <input type="text" class="span3" bs:field="titel" th:disabled="${disabled}"/>
        <input type="text" class="span3" bs:field="abschlussGrad" th:disabled="${disabled}"/>
        <input type="checkbox" bs:field="noteAlsTextDarstellen" th:disabled="${disabled}"/>
        <input type="checkbox" bs:field="platzFuerSiegel" th:disabled="${disabled}"/>
        <input type="checkbox" bs:field="printVersetzungsbemerkung" th:disabled="${disabled}"/>
        <input type="text" class="span3" bs:field="sortierung" th:disabled="${disabled}"/>
        <input type="checkbox" bs:field="aktiv" th:disabled="${disabled}"/>

        <button type="submit" th:formaction="@{${saveUrl}}" class="btn" th:unless="${disabled || saveUrl == null}">
            <i class="save"></i>Speichern</button>
        <a th:href="@{|__#{nurl.zeugnisart.edit}__|}" class="btn" th:if="${disabled}">
            <i class="edit"></i>Bearbeiten</a>
        <a th:href="@{#{nurl.zeugnisart.list}}" class="btn">
            <i class="cancel"></i>Abbrechen</a>
        <th:block th:include="/fragments::deletebutton(#{nurl.zeugnisart.delete})"></th:block>
    </form>


    </div>
</body>
</html>
