body {
    margin: 10px;
}

i.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
i.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}
i.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

i.reload {
    background: transparent url(../images/skin/reload.png) 5px 50% no-repeat;
    padding-left: 28px;
}


i.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

i.pdf {
    background: transparent url(../images/skin/document-pdf-text.png) 5px 50% no-repeat;
    padding-left: 28px;
}

i.cancel {
    background: transparent url(../images/skin/cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}

i.saveAndPrevious {
    background: transparent url(../images/skin/database_save_previous.png) 5px 50% no-repeat;
    padding-left: 28px;
}

i.saveAndNext {
    background: transparent url(../images/skin/database_save_next.png) 5px 50% no-repeat;
    padding-left: 28px;
}
