<!-- Parameter:
schulhalbjahrList - PageWrapper<Schulhalbjahr>

pageRequest - the parameter of this search.
 -->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <h3 th:text="#{schulhalbjahr.list.title}">Liste</h3>
        <a class="btn" href="/" th:href="@{#{nurl.schulhalbjahr.create}}" th:text="#{label.action.create}">Create a new entry</a>
        <div id="data">
            <span th:if="${#lists.isEmpty(schulhalbjahrList)}" th:text="#{label.no_data_found}"></span>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th th:text="#{net.sf.sze.model.zeugnis.Schulhalbjahr.jahr}">Id</th>
                        <th th:text="#{net.sf.sze.model.zeugnis.Schulhalbjahr.halbjahr}">Id</th>
                        <th th:text="#{net.sf.sze.model.zeugnis.Schulhalbjahr.selectable}">Id</th>
                        <th th:text="#{label.actions}">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="schulhalbjahr : ${schulhalbjahrList.content}">
                        <td th:text="${schulhalbjahr.jahr}">1</td>
                        <td th:text="${schulhalbjahr.halbjahr}">1</td>
                        <td th:text="#{'blt.'+${schulhalbjahr.selectable}}">1</td>
                        <td th:with="#{par.schulhalbjahr.schulhalbjahr_id}=${schulhalbjahr.id}">
                            <a class="btn" href="show/1" th:href="@{|__#{nurl.schulhalbjahr.show}__|}" th:text="#{label.action.show}">Show</a>
                            <a class="btn" href="edit/1" th:href="@{|__#{nurl.schulhalbjahr.edit}__|}" th:text="#{label.action.edit}">Update</a>
                            <a class="btn" href="delete/1" th:href="@{|__#{nurl.schulhalbjahr.delete}__|}" th:text="#{label.action.delete}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination pagination-centered"  th:with="page=${schulhalbjahrList}" th:include="fragments::paginationbar" >
            <ul>
              <li >
                <a >&larr; First</a>
              </li>
              <li >
                <a title="Go to previous page">&laquo;</a>
              </li>
              <li >
                <a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span >1</span></a>
              </li>
              <li class="active">
                <span >2</span>
              </li>
              <li >
                <a ><span >3</span></a>
              </li>
              <li >
                <a title="Go to next page">&raquo;</a>
              </li>
              <li >
                <a >Last &rarr;</a>
              </li>
            </ul>
        </div>
    </div>
</body>
</html>
