<!DOCTYPE html>
<!-- PARAMS:
bewertung - die Bewertung.
schulhalbjahr - das Schulhalbjahr.
saveUrl
cancelUrl
prevId
nextId
-->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <h4>Bearbeite Bewertung im Fach <em th:text="${bewertung?.schulfach}"></em>
        für  <em th:text="${bewertung?.zeugnis?.schueler}"></em>
        (Klasse <span th:remove="tag" th:text="${bewertung?.zeugnis?.klasse?.calculateKlassenname(schulhalbjahr.jahr)}"></span>
         im Hj: <span th:remove="tag" th:text="${schulhalbjahr}"></span>)</h4>
        <form class="well form-horizontal" method="post" th:object="${bewertung}">
            <input id="prevId" type="hidden" th:value="${prevId}" name="prevId"/>
            <input id="nextId" type="hidden" th:value="${nextId}" name="nextId"/>
            <input id="type" type="hidden" th:value="${type}" name="type"/>

            <input id="id" type="hidden" th:value="*{id}" name="id"/>
            <input id="version" type="hidden" th:value="*{version}" name="version"/>
            <input id="schulfach" type="hidden" th:value="*{schulfach.id}" name="schulfach"/>
            <input id="zeugnis" type="hidden" th:value="*{zeugnis.id}" name="zeugnis"/>

            <select bs:field="#{db.Bewertung.leistungsniveau}" bs:label="#{model.Bewertung.leistungsniveau}" th:unless="${#lists.isEmpty(bewertung.leistungsNiveaus)}">
                <option th:each="item : ${bewertung.leistungsNiveaus}" th:value="${item}"
                            th:text="${item}"></option>

            </select>
            <select bs:field="#{db.Bewertung.note}" bs:label="#{model.Bewertung.note}" th:unless="${#lists.isEmpty(bewertung.noten)}">
                <option value=""></option>
                <option th:each="item : ${bewertung.noten}" th:value="${item}"
                            th:text="${item}"></option>

            </select>
            <input type="text" bs:field="#{db.Bewertung.sonderNote}" bs:label="#{model.Bewertung.sonderNote}"/>
            <input type="checkbox" bs:field="#{db.Bewertung.leistungNurSchwachAusreichend}" bs:label="#{model.Bewertung.leistungNurSchwachAusreichend}"/>
            <input type="checkbox" bs:field="#{db.Bewertung.relevant}" bs:label="#{model.Bewertung.relevant}"/>
            <span class="btn disabled" th:if="${prevId == null}"><i class="saveAndPrevious"></i>Speichern und Zurück</span>
            <button type="submit"  th:formaction="@{${saveUrl}(action=${'prev'})}" class="btn" th:unless="${prevId == null}"><i class="saveAndPrevious"></i>Speichern und Zurück</button>
            <button type="submit"  th:formaction="@{${saveUrl}}" class="btn"><i class="save"></i>Speichern</button>
            <button type="submit"  th:formaction="@{${cancelUrl}}" class="btn"><i class="cancel"></i>Abbrechen</button>
            <span class="btn disabled" th:if="${nextId == null}"><i class="saveAndNext"></i>Speichern und Weiter</span>
            <button type="submit"  th:formaction="@{${saveUrl}(action=${'next'})}" class="btn" th:unless="${nextId == null}"><i class="saveAndNext"></i>Speichern und Weiter</button>
        </form>
    </div>
</body>
</html>
