<!DOCTYPE html>
<!-- PARAMS:
schulfaecher - Liste der relevanten Schulfächer
bewertungen - alle Bewertungen des Schulfachs,
klasse _ die Klasse
schulhalbjahr - das Schulhalbjahr.
schulfachId - die Id des Schulfachs.

 -->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="bewertungenNav" th:with="formId='chooseSchulfachFormTop'" th:fragment="bewertungNav">
            <form class="form-horizontal" th:id="${formId}" method="get"
                th:object="${zeugnis}"
                th:action="@{#{url.bewertungenpath.list(${__#{par.session.halbjahr_id}__}, ${__#{par.session.klassen_id}__})}}">
                <!-- (schulhalbjahr.id, klasse.id, schulfachId) und die URL muss auch her.  -->
                <select class="cbauto" th:name="#{par.session.schulfach_id}">
                    <option th:each="item : ${schulfaecher}" th:value="${item.id}"
                        th:text="${item.name}" th:selected="${item.id == schulfach_id}"></option>
                </select>
                <button type="submit" class="btn cbbutton">Aktualisieren</button>
            </form>
        </div>
        <h4>Bewertungen für Klasse <b th:text="${klasse?.calculateKlassenname(schulhalbjahr.jahr)}">${klasse?.calculateKlassenname(schulhalbjahr.jahr)}</b> im Schulhalbjahr <b th:text="${schulhalbjahr}">${schulhalbjahr}</b></h4>
        <div class="row-fluid">
            <span th:text="#{bewertungen.no_data}" th:remove="tag" th:if="${#lists.isEmpty(bewertungen)}"></span>
            <table class="table table-striped table-bordered table-hover table-condensed" th:unless="${#lists.isEmpty(bewertungen)}">
                <thead>
                    <tr>
                        <th>Zeugnis</th>
                        <th>Schulfach</th>
                        <th>Leistungsniveau</th>
                        <th>Note</th>
                        <th>Sonder Note</th>
                        <th>Schwach ausreichend</th>
                        <th>Relevant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bewertungInstance:${bewertungen}" th:class="${(lasteditedId==bewertungInstance.id)?'lastEdited':''}"
                        th:with="url=@{#{url.bewertungenpath.edit(${__#{par.session.halbjahr_id}__},
                                ${__#{par.session.klassen_id}__}, ${bewertungInstance.schulfach.id},
                                ${bewertungInstance.id})}}">
                        <td><a th:href="${url}" th:text="${bewertungInstance.zeugnis}"></a></td>
                        <td><a th:href="${url}" th:text="${bewertungInstance.schulfach}"></a></td>
                        <td><a th:href="${url}" th:text="${bewertungInstance.leistungsniveau}"></a></td>
                        <td><a th:href="${url}" th:text="${bewertungInstance.note}"></a></td>
                        <td><a th:href="${url}" th:text="${bewertungInstance.sonderNote}"></a></td>
                        <td><a th:href="${url}" th:text="#{${'blt.' + bewertungInstance.leistungNurSchwachAusreichend}}"></a></td>
                        <td><a th:href="${url}" th:text="#{${'blt.' + bewertungInstance.relevant}}"></a></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="bewertungenNav" th:with="formId='chooseSchulfachFormBottom'" th:include="::bewertungNav">
        </div>
    </div>
</body>
</html>

