        <div th:fragment="info" th:remove="tag">
            <div class="alert alert-error" th:unless="${#lists.isEmpty(errors)}">
                <ul th:each="error : ${errors}">
                       <li th:text="#{${error}}"></li>
                </ul>
            </div>
            <div class="alert alert-success" th:text="#{${success}}"
                th:unless="${#strings.isEmpty(success)}"></div>

            <div class="alert alert-info" th:text="${message}"
                th:unless="${#strings.isEmpty(message)}"></div>

            <div class="alert alert-info" th:unless="${#lists.isEmpty(messages)}">
                <ul th:each="message : ${messages}">
                       <li th:text="#{${message}}"></li>
                </ul>
            </div>
        </div>
        <div th:fragment="error" th:remove="tag">
            <div class="alert alert-error" th:if="${#fields.hasGlobalErrors()}">
                <ul th:each="error: ${#fields.globalErrors()}">
                    <li th:utext="${error}"></li>
                </ul>
            </div>
        </div>
        <!-- Pagination Bar -->
        <div class="pagination pagination-centered" th:fragment="paginationbar">
            <th:block th:unless="${page.totalPages==1}">
            <ul>
              <li th:class="${page.firstPage}? 'disabled' : ''">
                <span th:if="${page.firstPage}">&larr; First</span>
                <a th:if="${not page.firstPage}" th:href="@{${page.url}(__#{pg.page.number_size(1,${page.size})}__)}">&larr; First</a>
              </li>
              <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if="${not page.hasPreviousPage}">&laquo;</span>
                <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(__#{pg.page.number_size(${page.number-1},${page.size})}__)}" title="Go to previous page">&laquo;</a>
              </li>
              <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                <span th:if="${item.current}" th:text="${item.number}">1</span>
                <a th:if="${not item.current}" th:href="@{${page.url}(__#{pg.page.number_size(${item.number},${page.size})}__)}"><span th:text="${item.number}">1</span></a>
              </li>
              <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if="${not page.hasNextPage}">&raquo;</span>
                <a th:if="${page.hasNextPage}" th:href="@{${page.url}(__#{pg.page.number_size(${page.number+1},${page.size})}__)}" title="Go to next page">&raquo;</a>
              </li>
              <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if="${page.lastPage}">Last &rarr;</span>
                <a th:if="${not page.lastPage}" th:href="@{${page.url}(__#{pg.page.number_size(${page.totalPages},${page.size})}__)}">Last &rarr;</a>
              </li>
            </ul>
            </th:block>
        </div>

        <div th:fragment="deletebutton(deleteUrl)" >
            <a th:href="@{${deleteUrl}(id=*{id})}" class="btn">
                <i class="delete"></i>Löschen</a>
            <!--
            <button th:formaction="@{${deleteUrl}}" type="submit" formmethod="post" class="btn">
                <i class="delete"></i>Löschen</button> -->
        </div>

        <div layout:fragment="bsfield">
          <div class="control-group" th:classappend="${#fields.hasErrors('__${fId}__')}? 'error'">
            <label class="control-label" th:for="${fId}"
                th:text="#{__*{class.name}__.__${fId}__}+':'"/>
            <div class="controls">
                <span layout:fragment="bsinput" th:remove="tag">
                <input type="text" class="replace" th:field="*{__${fId}__}" th:disabled="${disabled}"/>
                </span>
                <span class="help-inline" th:if="${#fields.hasErrors('__${fId}__')}"
                    th:errors="*{__${fId}__}"></span>
            </div>
        </div>

        <!-- Button-Groups -->
        <div th:fragment="prevsavenextButton" th:remove="tag">
            <span class="btn disabled" th:if="${prevId == null}"><i class="saveAndPrevious"></i>Speichern und Zurück</span>
            <button type="submit" th:formaction="@{${updateUrl}(action=${'prev'})}" class="btn" th:unless="${prevId ==null}">
                <i class="saveAndPrevious"></i>Speichern und Zurück</button>
            <button type="submit" th:formaction="@{${updateUrl}}" class="btn">
                <i class="save"></i>Speichern</button>
            <a th:href="@{${cancelUrl}}" class="btn"> <i class="cancel"></i>Abbrechen</a>
            <span class="btn disabled" th:if="${nextId == null}"><i class="saveAndNext"></i>Speichern und Weiter</span>
            <button  type="submit" th:formaction="@{${updateUrl}(action=${'next'})}" class="btn" th:unless="${nextId ==null}">
                <i class="saveAndNext"></i>Speichern und Weiter</button>
        </div>

        <div th:fragment="insertUpdateCancelNextDeleteButtons" th:remove="tag">
            <button type="submit" th:formaction="@{${insertUrl}}" class="btn" th:unless="${insertUrl == null}">
                <i class="save"></i>Speichern</button>
            <button type="submit" th:formaction="@{${updateUrl}}" class="btn" th:unless="${updateUrl == null}">
                <i class="save"></i>Speichern</button>
            <button type="submit"  th:formaction="@{${cancelUrl}}" class="btn">
                <i class="cancel"></i>Abbrechen</button>
            <button type="submit"  th:formaction="@{${insertUrl}(action=${'next'})}" class="btn" th:unless="${insertUrl == null}">
                <i class="saveAndNext"></i>Speichern und weiteren Anlegen</button>
            <button type="submit" th:formaction="@{${deleteUrl}}" class="btn" th:unless="${deleteUrl == null}">
                <i class="delete"></i>Löschen</button>
        </div>

  </div>
