<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="#{app.title} + ' - ' + #{login.title}"></title>
    <th:block th:include="/main::head"/>
</head>
<body >
    <div id="header">
        <div id="logo">
            <img src="../../resources/images/sze_logo.jpg"
                th:src="@{/resources/images/sze_logo.jpg}" alt="SZE-Logo" />
        </div>
    </div>

    <div class="well">
    <div class="alert alert-error" th:text="#{login.failed}" th:if="${#httpServletRequest.method == 'POST'}"></div>
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <input type="text" bs:name="username" th:value="${username}"/>
        <input type="password" bs:name="password" th:value="${password}"/>
        <button type="submit" class="btn">Log in</button>
    </form>
    </div>
</body>
</html>
