<!DOCTYPE html>
<!-- PARAMS:
helpMessageId - die MessageId für die Hilfe.
message - ein Nachricht
messages - eine Liste mit Meldungen.
errors - eine Liste mit Fehlermeldungen.
 -->
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../resources/css/bootstrap-ppi.css"
        th:href="@{/resources/css/bootstrap-ppi.css}" />
    <link rel="stylesheet" href="../../resources/css/main.css"
        th:href="@{/resources/css/bootstrap-ppi.css}" />
    <link rel="shortcut icon" href="../../resources/img/sze.ico" type="image/x-icon"
        th:href="@{/resources/img/sze.ico}"/>
    <link rel="icon" href="../../resources/img/sze.ico" type="image/x-icon"
        th:href="@{/resources/img/sze.ico}"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-ppi.css"
        th:href="@{/resources/css/bootstrap-ppi.css}" />
    <link rel="stylesheet"
        href="../../../../resources/css/smoothness/jquery-ui-1.9.1.custom.css"
        th:href="@{/resources/css/smoothness/jquery-ui-1.9.1.custom.css}" />
    <link rel="stylesheet"
        href="../../../../resources/css/smoothness/datetimepicker.css"
        th:href="@{/resources/css/smoothness/datetimepicker.css}" />
    <script type="text/javascript"
        src="../../../../resources/js/jquery-1.8.2.js"
        th:src="@{/resources/js/jquery-1.8.2.js}"></script>
    <script type="text/javascript"
        src="../../../../resources/js/jquery-ui-1.9.1.custom.js"
        th:src="@{/resources/js/jquery-ui-1.9.1.custom.js}"></script>
    <script type="text/javascript"
        src="../../../../resources/js/chosen.jquery.js"
        th:src="@{/resources/js/chosen.jquery.js}"></script>
    <script type="text/javascript"
        src="../../../../resources/js/jquery-ui-timepicker-addon.js"
        th:src="@{/resources/js/jquery-ui-timepicker-addon.js}"></script>


    <title>SZE - Schulzeugnisersteller</title>
</head>
<body>
    <div class="logo">
            <img src="../../resources/img/sze_logo.jpg" th:src="@{/resources/img/sze_logo.jpg}"
                alt="SZE-Logo" />

    </div>
    <div class="login-info">
        Hallo ###! Sie sind eingeloggt in sze Version <i th:text="#{app.version}">3.0.0</i> als: ###Userid### (<a href="auth/logoff" th:href="@{#{todo}(todo='Rechte Steuerung baunen')}">Abmelden</a>)
    </div>
    <!-- TODO nachfolgendes in Abhängigkeit von der Rollen anzeigen. -->
    <div class="nav">
        <span class="menuButton"><a th:href="@{/admin}">Administration</a></span>
        <span class="menuButton"><a th:href="@{#{configuration.main}}">Konfiguration</a></span>
        <span class="menuButton"><a th:href="@{#{zeugnis.start}}">Zeugnisse</a></span>
    </div>
    <div class="message" th:unless="${#strings.isEmpty(message)}">
        ${message}
    </div>
    <div class="message" th:unless="${#lists.isEmpty(messages)}">
       <ul th:each="message : ${messages}">
           <li>${message}</li>
       </ul>
    </div>
    <div class="errors" th:unless="${#lists.isEmpty(errors)}">
       <ul th:each="error: ${errors}">
           <li>${error}</li>
       </ul>
    </div>
    <div class="body" layout:fragment="content">
        Hier wird die eigentlich Seite angezeigt.
    </div>

    <div class="help" th:unless="${#string.isEmpty(helpMessageId)}"
        th:utext="&lt;b&gt;Erl&auml;uterung&lt;/b&gt;: #{${helpMessageId}}">
        <b>Erl&auml;uterung:</b> Ein erläuternder Text.
    </div>
</body>
</html>
