<!DOCTYPE html>
<!-- PARAMS:
halbjahre - Die Liste mit Halbjahren
halbjahrId - das zu selektierende Halbjahr
klassenId - die gewählte Klasse
klassen - Die Liste der möglichen Klassen.
-->
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript" src="../../../../resources/js/thymelaefbs.js" th:remove="all"></script>

</head>
<body>
    <div class="body" layout:fragment="content">
        <form action="doit" th:action="@{'url'}" class="well form-horizontal" method="post">
            <select bs:name="halbjahrId">
                <option th:each="halbjahr : ${halbjahre}" th:value="${halbjahr.id}"
                    th:text="${halbjahr}"/>
            </select>
            <select bs:name="klassenId">
                <option th:each="klasse : ${klassen}" th:value="${klasse.id}"
                    th:text="${klasse}"/>
            </select>
            <input type="submit" class="btn" name="showZeugnis" value="Zeige Zeugnisse" formaction="@{'asd')"/>
            <input type="submit" class="btn" name="showBewertung" value="Zeige Bewertungen" formaction="dontDoIt"/>
            <input type="submit" class="btn pdf" name="printZeugnis" value="Erstelle Zeugnisse" formaction="" formtarget="_blank"/>
        </form>
    </div>
</body>
</html>
