<!DOCTYPE html>
<!-- PARAMS:
zeugnis - das Zeugnis.
saveUrl
cancelUrl
-->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
    <title th:text="Zeugnis Details ${zeugnis?.schueler}"></title>

</head>
<body th:with="helpMessageId=help.zeugnis.editDetail">
    <div layout:fragment="content">
        <h4>
            Bearbeite Zeugnisdetails für Schüler <em
                th:text="${zeugnis?.schueler}"></em> (Klasse <span
                th:remove="tag"
                th:text="${zeugnis?.formular?.klassenname}"></span>
            im Hj: <span th:remove="tag" th:text="${zeugnis.formular.schulhalbjahr}"></span>)
        </h4>
        <form class="well form-horizontal" method="post" th:object="${zeugnis}">
            <div th:replace="/fragments::error"></div>
            <input id="id" type="hidden" th:value="*{id}" name="id" />
            <input id="version" type="hidden" th:value="*{version}" name="version" />
            <input id="buBewertungsText" type="hidden" th:value="*{buBewertungsText}" name="buBewertungsText" />
            <input id="formular" type="hidden" th:value="*{formular.id}" name="formular" />
            <input id="klasse" type="hidden" th:value="*{formular.klasse.id}" name="klasse" />
            <input id="schueler" type="hidden" th:value="*{schueler.id}" name="schueler" />
            <input id="soLBewertungsText" type="hidden" th:value="*{soLBewertungsText?.id}" name="soLBewertungsText" />

            <input id="schulhalbjahr" type="hidden" th:value="*{formular.schulhalbjahr.id}" name="schulhalbjahr" />

            <input type="text" class="span1" bs:field="#{db.Zeugnis.anzahlFehltageGesamt}"/>
            <input type="text" class="span1" bs:field="#{db.Zeugnis.anzahlFehltageUnentschuldigt}"/>
            <input type="text" class="span1" bs:field="#{db.Zeugnis.anzahlVerspaetungen}"/>

            <div class="control-group">
                <label class="control-label">Versetzung:</label>
                <div class="controls controls-row" th:unless="${zeugnis.formular.schulhalbjahr?.isErstesHalbjahr()}">
                    <label class="checkbox span2">
                        <input type="checkbox" th:field="*{ruecktAuf}" id="ruecktAuf"/>
                        <span th:text="#{net.sf.sze.model.zeugnis.Zeugnis.ruecktAuf}" th:remove="tag"></span>
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" th:field="*{klassenZielWurdeNichtErreicht}" id="klassenZielWurdeNichtErreicht"/>
                        <span th:text="#{net.sf.sze.model.zeugnis.Zeugnis.klassenZielWurdeNichtErreicht}" th:remove="tag"></span>
                    </label>
                </div>
                <div class="controls controls-row" th:if="${zeugnis.formular.schulhalbjahr?.isErstesHalbjahr()}">
                    <label class="checkbox span2">
                        <input type="checkbox" th:field="*{klassenZielGefaehrdet}" id="klassenZielGefaehrdet"/>
                        <span th:text="#{net.sf.sze.model.zeugnis.Zeugnis.klassenZielGefaehrdet}" th:remove="tag"></span>
                    </label>
                    <label class="checkbox span2">
                        <input type="checkbox" th:field="*{klassenZielAusgeschlossen}" id="klassenZielAusgeschlossen"/>
                        <span th:text="#{net.sf.sze.model.zeugnis.Zeugnis.klassenZielAusgeschlossen}" th:remove="tag"></span>
                    </label>
                </div>
            </div>

            <input type="text" class="datepicker" bs:field="#{db.Zeugnis.individuellesAusgabeDatum}"/>
            <select bs:field="#{db.Zeugnis.zeugnisArt}">
                <option th:each="item : ${zeugnisArten}" th:value="${item.id}"
                    th:text="${item.name}" th:disabled="${not item.aktiv}"></option>
            </select>
            <textarea rows="5" class="span4" bs:field="#{db.Zeugnis.individuellerLeitspruch}"/>
            <input type="text" class="span4" bs:field="#{db.Zeugnis.quelleIndividuellerLeitspruch}"/>
            <textarea rows="5" class="span4" bs:field="#{db.Zeugnis.individuellerLeitspruch2}"/>
            <input type="text" class="span4" bs:field="#{db.Zeugnis.quelleIndividuellerLeitspruch2}"/>

            <th:block th:replace="/fragments::prevsavenextButton"></th:block>
        </form>
    </div>
</body>
</html>
