<!DOCTYPE html>
<!-- PARAMS:
    schueler - Liste der Schüler der Klasse
    zeugnis - das ausgewählte Zeugnis
    schuelerindex - der index des Schüler in der aktuellen Klasse.
    wpBewertungen - Alle Bewertungen von Wahlpflichtfächern.
       otherBewertungen - die restlichen Bewertungen.
    urlShowZeugnis - url zum Anzeigen des Zeugnis.
    urlPrintZeugnis - die URL um das Zeugnis zu Drucken.
    arbeitsgruppenSatz - der Satz der den Einsatz in AGs beschreibt.
-->
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="zeugnisNav" th:with="formId='chooseSchuelerFormTop'" th:fragment="zeugnisNav">
            <form class="form-horizontal" th:id="${formId}" method="get"
                th:object="${zeugnis}" th:action="@{${urlShowZeugnis}}">
                Sch&uuml;ler der Klasse <span
                    th:remove="tag" th:text="${zeugnis.klasse}"></span>
                <select class="cbauto" name="schueler_id">
                    <option th:each="item : ${schuelerListe}" th:value="${item.id}"
                        th:text="${item}" th:selected="${item.id == zeugnis.schueler.id}"
                        th:disabled="${not item.isActive()}"></option>
                </select>
                <button type="submit" class="btn cbbutton">Aktualisieren</button>
                <span class="btn disabled" th:if="${prevSchuelerId==null}"><i class="prev"></i>Vorheriger Sch&uuml;ler</span>
                <a class="btn" th:unless="${prevSchuelerId==null}"
                    th:href="@{${urlShowZeugnis}(schueler_id=${prevSchuelerId})}">
                    <i class="prev"></i>Vorheriger Sch&uuml;ler
                </a>
                <span class="btn disabled" th:if="${nextSchuelerId==null}"><i class="next"></i>N&auml;chster Sch&uuml;ler</span>
                <a class="btn" th:unless="${nextSchuelerId==null}"
                    th:href="@{${urlShowZeugnis}(schueler_id=${nextSchuelerId})}">
                    <i class="next"></i>N&auml;chster Sch&uuml;ler
                </a> <a class="btn" th:href="@{${urlPrintZeugnis}}"><i class="pdf"></i>Zeugnis
                    anzeigen</a>
            </form>
        </div>
        <h4>Zeugnis f&uuml;r <b th:text="${zeugnis.schueler.name}+', '+${zeugnis.schueler.vorname}"></b> im Schulhalbjahr <b th:text="${zeugnis.schulhalbjahr}"></b></h4>
        <div class="row-fluid">
            <div class="span6" th:with="bewertungen=${otherBewertungen}" th:fragment="table">
                <table class="table table-striped table-bordered table-hover table-condensed" th:unless="${#lists.isEmpty(bewertungen)}">
                    <thead>
                        <tr>
                            <th>Schulfach</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="bewertungInstance, stat:${bewertungen}" th:remove="tag">
                            <tr th:class="${(bewertungInstance.id==lastEditedBewertung) ? 'lastEdited':''}">
                            <td>
                                <a href="bewertungErfassung:editBewertung{bewertungInstance.id}"
                                    th:text="${bewertungInstance.schulfach}"></a>
                            </td>
                            <td>
                                <a href="bewertungErfassung:editBewertung{bewertungInstance.id}"
                                    th:text="${bewertungInstance.notenDarstellung()}"></a>
                            </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
            <div class="span6" th:with="bewertungen=${wpBewertungen}" th:include="zeugnis/showZeugnis::table">
            </div>
        </div>
        <h5>Biblischer Unterricht und SoL <a href="@zeugnisErfassung.editBuUndSoL ${zeugnis.id}">bearbeiten</a></h5>
        <div class="buUndSoLBeurteilungen row-fluid">
            <div class="span12">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Biblischer Unterricht</th>
                        <th>SoL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${zeugnis.buBewertungsText}"></td>
                        <td th:text="${zeugnis.soLBewertungsText?.text}"></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <h5>Arbeits- und Sozialverhalten <a href="zeugnisErfassung:editArbeitsUndSozialVerhalten.${zeugnis.id}">bearbeiten</a></h5>
        <div class="avSvBeurteilungen row-fluid">
            <div class="span6" th:with="bewertungen=${zeugnis.avBewertungen}, head='Arbeitsverhalten'" th:fragment="AvSvtable">
            <table class="table table-striped table-bordered table-hover table-condensed" >
                <thead>
                    <tr>
                        <th th:text="${head}">Arbeitsverhalten</th>
                        <th>Beurteilung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="avSvBew : ${bewertungen}">
                        <td th:text="${avSvBew?.arbeitsUndSozialVerhalten?.name}">
                        </td>
                        <td th:text="${avSvBew?.beurteilung?.buchstabe}">
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="span6" th:with="bewertungen=${zeugnis.svBewertungen}, head='Sozialverhalten'" th:include="zeugnis/showZeugnis::AvSvtable">
            </div>
        </div>
        <h5>Zeugnis-Details <a href="zeugnisErfassung:editDetail.${zeugnis.id}">bearbeiten</a></h5>
        <div class="zeugnisdetail row-fluid">
            <table class="table table-bordered table-condensed" >
                <thead>
                    <tr>
                        <th th:text="#{showZeugnis.anzahlFehltageGesamt}"></th>
                        <th th:text="#{showZeugnis.anzahlFehltageUnentschuldigt}"></th>
                        <th th:text="#{showZeugnis.anzahlVerspaetungen}"></th>
                        <span th:unless="${zeugnis.schulhalbjahr?.isErstesHalbjahr()}" th:remove="tag">
                            <th th:text="#{zeugnis.ruecktAuf}"></th>
                            <th th:text="#{zeugnis.klassenZielWurdeNichtErreicht}"></th>
                        </span>
                        <span th:if="${zeugnis.schulhalbjahr?.isErstesHalbjahr()}" th:remove="tag">
                            <th th:text="#{zeugnis.klassenZielGefaehrdet}"></th>
                            <th th:text="#{zeugnis.klassenZielAusgeschlossen}"></th>
                        </span>
                        <th th:text="#{zeugnis.zeugnisArt}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="zeugnisDetail">
                        <td valign="top" th:text="${zeugnis.anzahlFehltageGesamt}"></td>
                        <td valign="top" th:text="${zeugnis.anzahlFehltageUnentschuldigt}"></td>
                        <td valign="top" th:text="${zeugnis.anzahlVerspaetungen}"></td>
                        <span th:unless="${zeugnis.schulhalbjahr?.isErstesHalbjahr()}" th:remove="tag">
                            <td valign="top" th:text="#{'blt.'+${zeugnis.ruecktAuf}}"></td>
                            <td valign="top" th:text="#{'blt.'+${zeugnis.klassenZielWurdeNichtErreicht}}"></td>
                        </span>
                        <span th:if="${zeugnis.schulhalbjahr?.isErstesHalbjahr()}" th:remove="tag">
                            <td valign="top" th:text="#{'blt.'+${zeugnis.klassenZielGefaehrdet}}"></td>
                            <td valign="top" th:text="#{'blt.'+${zeugnis.klassenZielAusgeschlossen}}"></td>
                        </span>
                        <td valign="top" th:text="${zeugnis.zeugnisArt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5>Arbeitsgruppen <a href="zeugnisErfassung:editArbeitsgruppen.${zeugnisInstance?.id}">bearbeiten</a></h5>
        <div class="arbeitsgruppen">
            <span th:text="${arbeitsgruppenSatz}" th:unless="${#strings.isEmpty(arbeitsgruppenSatz)}" >
                ${arbeitsgruppenSatz}
            </span>
            <span th:if="${#strings.isEmpty(arbeitsgruppenSatz)}" >
                Keine Arbeitsgruppen besucht.
            </span>
        </div>

        <h5>Besonderer Einsatz im Schulleben <a href="schulamtsBemerkung:create">hinzuf&uuml;gen</a></h5>
        <div class="list row-fluid">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                     <th th:text="#{schulamtsBemerkung.schulamt}"></th>
                     <th th:text="#{schulamtsBemerkung.schulamtsBaustein}"></th>
                     <th th:text="#{schulamtsBemerkung.sortierung}"></th>
                     <th th:text="#{schulamtsBemerkung.text}"></th>
                     <th th:text="#{action}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="schulamtsBemerkungInstance:${zeugnis?.schulamtsBemerkungen}">

                        <td th:text="${schulamtsBemerkungInstance.schulamt.name}"></td>
                        <td th:text="${schulamtsBemerkungInstance.schulamtsBemerkungsBaustein.name}"></td>
                        <td th:text="${schulamtsBemerkungInstance.sortierung}"></td>
                        <td th:text="${schulamtsBemerkungInstance.freiText?:schulamtsBemerkungInstance.fixText}"></td>
                        <td><a href="schulamtsBemerkung:edit.${schulamtsBemerkungInstance.id}"><i class="edit"></i></a>
                     </td>
                    </tr>
                </tbody>
            </table>
        </div>

         <h5>Bemerkungen <a href="bemerkung:create">hinzuf&uuml;gen</a></h5>
         <div class="list row-fluid">
             <table class="table table-striped table-bordered table-hover table-condensed">
                 <thead>
                     <tr>
                       <th th:text="#{bemerkung.baustein}"></th>
                       <th th:text="#{bemerkung.sortierung}"></th>
                       <th th:text="#{bemerkung.text}"></th>
                       <th th:text="#{action}"></th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr th:each="bemerkungInstance:${zeugnisInstance?.bemerkungen}">
                        <td th:text="${bemerkungInstance.baustein.name}"></td>
                        <td th:text="${bemerkungInstance.sortierung}"></td>
                        <td th:text="${bemerkungInstance.freiText?:bemerkungInstance.fixText}"></td>
                        <td><a href="bemerkung:edit.${bemerkungInstance.id}"><i class="edit"></i></a></td>
                       </tr>
                 </tbody>
             </table>
         </div>

        <div class="zeugnisNav" th:with="formId='chooseSchuelerFormBottom'" th:include="zeugnis/showZeugnis::zeugnisNav">
        </div>
    </div>
</body>
</html>
