<!DOCTYPE html>
<!-- PARAMS:
    schueler - Liste der Schueler der Klasse
    zeugnis - das ausgewählte Zeugnis
-->
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="zeugnisNav">
            <form class="form-horizontal" id="chooseSchuelerFormTop" method="get"
                th:object="${zeugnis}" th:action="@{${urlShowZeugnis}}">
                <input type="hidden" th:value="${zeugnis.klasse.id}"
                    th:name="#{par.zeugnis.klassen_id}" /> <input type="hidden"
                    th:value="${zeugnis.schulhalbjahr.id}"
                    name="#{par.zeugnis.halbjahr_id}" /> Sch&uuml;ler der Klasse <span
                    th:remove="tag" th:text="${zeugnis.klasse}"></span> <select
                    name="schuelerIndex">
                    <option th:each="item, stat : ${schueler}" th:value="${stat.index}"
                        th:text="${item}" th:selected="${item.id == zeugnis.schueler.id}"
                        th:disabled="${not item.isActive()}"></option>
                </select>
                <button type="submit" class="btn">Aktualisieren</button>
                <a class="btn" th:disabled="${schuelerIndex == 0}"
                    th:href="@{${urlShowZeugnis}(klassenId=${zeugnis.klasse.id}, halbjahrId=${zeugnis.schulhalbjahr.id}, schuelerIndex=${schuelerIndex - 1})}">
                    <i class="prev"></i>Vorheriger Sch&uuml;ler
                </a> <a class="btn" th:disabled="${schuelerIndex +1 ge schueler.size()}"
                    th:href="@{${urlShowZeugnis}(klassenId=${zeugnis.klasse.id}, halbjahrId=${zeugnis.schulhalbjahr.id}, schuelerIndex=${schuelerIndex + 1})}">
                    <i class="next"></i>N&auml;chster Sch&uuml;ler
                </a> <a class="btn" th:href="@{${urlPrintZeugnis}}"><i class="pdf"></i>Zeugnis
                    anzeigen</a>
            </form>
        </div>
        <table class="table table-striped table-bordered" th:unless="${#lists.isEmpty(zeugnis.bewertungen)}">
            <thead>
                <tr>
                    <th>Schulfach</th>
                    <th>Note</th>
                    <td></td>
                    <th>Schulfach</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="bewertungInstance, stat:${zeugnis.bewertungen}" th:remove="tag">
                    <!-- <tr th:class="${(stat.index % 4) == 0 ? 'odd' : 'even'}" th:if="${(stat.index % 2) == 0}"> -->
                    <tr th:class="${(stat.index % 4) == 0 ? 'odd' : 'even'}">
                    <td th:class="${(bewertungInstance.id==lastEditedBewertung) ? 'lastEdited':''}">
                        <a href="bewertungErfassung:editBewertung{bewertungInstance.id}"
                        th:text="${bewertungInstance.schulfach}">df</a>
                    </td>
                    <td th:class="${(bewertungInstance.id==lastEditedBewertung) ? 'lastEdited':''}">
                        <a href="bewertungErfassung:editBewertung{bewertungInstance.id}"
                            th:text="${bewertungInstance.notenDarstellung()}"></a>
                    </td>
                    <!-- <span th:if="${(stat.index % 2) == 1}" th:remove="tag">
                        </tr>
                        <span th:unless="${(stat.index % 2) == 1}"  th:remove="tag">
                            <td>
                            </td>
                        </span>
                    </span> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                </div>
                <span th:if="${(zeugnis.bewertungen.size() % 2) == 1}" th:remove="tag">
                    <td></td>
                    <td></td>
                    <!-- </tr>-->
                </span>

            </tbody>
        </table>

        <div class="zeugnisNav">
            <form class="form-horizontal" id="chooseSchuelerFormBottom"
                method="get" th:object="${zeugnis}" th:action="@{${urlShowZeugnis}}">
                <input type="hidden" th:value="${zeugnis.klasse.id}"
                    name="klassenId" /> <input type="hidden"
                    th:value="${zeugnis.schulhalbjahr.id}" name="halbjahrId" />
                Sch&uuml;ler der Klasse <span th:remove="tag"
                    th:text="${zeugnis.klasse}"></span> <select name="schuelerIndex">
                    <option th:each="item, stat : ${schueler}" th:value="${stat.index}"
                        th:text="${item}" th:selected="${item.id == zeugnis.schueler.id}"
                        th:disabled="${not item.isActive()}"></option>
                </select>
                <button type="submit" class="btn">Aktualisieren</button>
                <a class="btn" th:disabled="${schuelerIndex == 0}"
                    th:href="@{${urlShowZeugnis}(klassenId=${zeugnis.klasse.id}, halbjahrId=${zeugnis.schulhalbjahr.id}, schuelerIndex=${schuelerIndex - 1})}">
                    <i class="prev"></i>Vorheriger Sch&uuml;ler
                </a> <a class="btn" th:disabled="${schuelerIndex +1 ge schueler.size()}"
                    th:href="@{${urlShowZeugnis}(klassenId=${zeugnis.klasse.id}, halbjahrId=${zeugnis.schulhalbjahr.id}, schuelerIndex=${schuelerIndex + 1})}">
                    <i class="next"></i>N&auml;chster Sch&uuml;ler
                </a> <a class="btn" th:href="@{${urlPrintZeugnis}}"><i class="pdf"></i>Zeugnis
                    anzeigen</a>
            </form>
        </div>
    </div>
</body>
</html>
