<!DOCTYPE html>
<!-- PARAMS:
bemerkung - die Bemerkung.
schulhalbjahr
bearbeitenUrl
cancelUrl
deleteUrl
-->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
</head>
<body>
    <div layout:fragment="content">
        <h4>
            Die Bemerkung für Schüler <em
                th:text="${bemerkung?.zeugnis?.schueler}"></em> (Klasse <span
                th:remove="tag"
                th:text="${bemerkung?.zeugnis?.klasse?.calculateKlassenname(schulhalbjahr.jahr)}"></span>
            im Hj: <span th:remove="tag" th:text="${schulhalbjahr}"></span>)
        </h4>
        <form class="well form-horizontal" method="post"
            th:object="${bemerkung}">
            <!-- Baustein -->
            <input type="text" bs:field="#{db.Bemerkung.baustein}"
                class="span4 show" readonly="readonly">
            </input>
            <div class="control-group">
                <label class="control-label" for="sortierung"
                    th:text="#{net.sf.sze.model.zeugnis.Bemerkung.sortierung}">Sortierung</label>
                <div class="controls controls-row">
                    <input type="text" class="span1 show" th:field="*{sortierung}" readonly="readonly" />
                    <label class="checkbox span3"> <span
                        th:text="#{${'field.erSieStattNamen'+bemerkung.erSieStattNamen}}" th:remove="tag" ></span>
                    </label>
                </div>
            </div>
            <!-- FixText Sollte nicht übermittelt werden!-->
            <div class="control-group" th:if="${#strings.isEmpty(bemerkung.freiText)}">
                <label class="control-label" for="fixText" th:text="#{field.fixText}+':'">
                Text aus dem:</label>
                <div class="controls controls-row">
                    <textarea id="fixText" rows="5" class="span4 show" readonly="readonly"
                    th:text="${bemerkung.fixText}"></textarea>
                </div>
            </div>
            <!-- FreiText -->
            <textarea rows="5" bs:field="freiText" readonly="readonly"
                class="span4 show" th:unless="${#strings.isEmpty(bemerkung.freiText)}"></textarea>
            <a th:href="@{${cancelUrl}}" class="btn">
                <i class="prev"></i>Zurück</a>
            <button type="submit" th:formaction="@{${deleteUrl}}" formmethod="post" class="btn">
                <i class="delete"></i>Löschen</button>
            <a th:href="@{${editUrl}}"  class="btn">
                <i class="edit"></i>Bearbeiten</a>
        </form>
    </div>
</body>
</html>
