<!-- Parameter:
zeugnisFormular - ein zeugnisFormular

disabled - flag if the view should be editable.
saveUrl - die URL zum speichern.
users - a list of selectable user
tags - a list of selectable tag
 -->
<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<title th:text="#{zeugnisFormular.form.title} (${zeugnisFormular.beschreibung})"></title>
</head>
<body>
    <div layout:fragment="content">
        <h3 th:text="#{zeugnisFormular.form.title}"></h3>
        <form class="well form-horizontal" method="post"
            th:object="${zeugnisFormular}">
            <div th:replace="/fragments::error"></div>

            <input id="id" type="hidden" th:value="*{id}" name="id" />
            <input id="version" type="hidden" th:value="*{version}"
                name="version" />
            <input type="text" bs:field="beschreibung" th:disabled="${disabled}" />

            <!-- Hier die Listen füllen-->
            <select bs:field="schulhalbjahr" th:unless="${disabled or zeugnisFormular?.zeugnis?.size() > 0}">
                <option th:each="item : ${schulhalbjahre}" th:value="${item.id}" th:text="${item}"
                    th:classappend="${item.id==zeugnisFormular.schulhalbjahr.id}? 'highlight'"></option>
            </select>
            <input type="text" bs:field="schulhalbjahr"
                disabled="disabled" th:if="${disabled or zeugnisFormular?.zeugnis?.size() > 0}"  />
            <select bs:field="klasse" th:unless="${disabled or zeugnisFormular?.zeugnis?.size() > 0}">
                <option th:each="item : ${klassenListe}" th:value="${item.id}" th:text="${item}"
                    th:classappend="${item.id==zeugnisFormular?.klasse?.id}? 'highlight'"
                    th:disabled="${item.geschlossen}"></option>
            </select>
            <input type="text" bs:field="klasse"
                disabled="disabled" th:if="${disabled or zeugnisFormular?.zeugnis?.size() > 0}"/>
            <input type="text" bs:field="klassenSuffix" th:disabled="${disabled}" />
            <input type="text" bs:field="templateFileName"
                th:disabled="${disabled}" />
            <input type="text" class="datepicker" bs:field="ausgabeDatum"
                th:disabled="${disabled}" />
            <input type="text" class="datepicker"
                bs:field="nachteilsAusgleichsDatum" th:disabled="${disabled}" />
            <textarea rows="5" class="span4" bs:field="leitspruch"
                th:disabled="${disabled}" />
            <input type="text" bs:field="quelleLeitspruch"
                th:disabled="${disabled}" />
            <textarea rows="5" class="span4" bs:field="leitspruch2"
                th:disabled="${disabled}" />
            <input type="text" bs:field="quelleLeitspruch2"
                th:disabled="${disabled}" />
            <ul bs:field="schulfachDetailInfos" >
                <li th:each="item : *{schulfachDetailInfos}"  th:text="${item}"></li>
            </ul>
            <ul bs:field="zeugnis">
                <li th:each="item : *{zeugnis}" ><a
                    th:with="#{par.session.halbjahr_id}=${item.schulhalbjahr.id}, #{par.session.klassen_id}=${item.klasse.id}"
                    th:href="@{|__#{nurl.zeugnispath.show}__|(#{par.session.schueler_id}=${item.schueler.id})}" th:text="${item}"></a></li>
            </ul>
            <button type="submit" th:formaction="@{${saveUrl}}" class="btn"
                th:unless="${disabled || saveUrl == null}">
                <i class="save"></i>Speichern
            </button>
            <a th:href="@{|__#{nurl.zeugnisformular.edit}__|}" class="btn" th:if="${disabled}">
                <i class="edit"></i>Bearbeiten
            </a>
            <a th:href="@{#{nurl.zeugnisformular.list}}" class="btn">
                <i class="cancel"></i>Abbrechen
            </a>
            <th:block
                th:include="/fragments::deletebutton(#{nurl.zeugnisformular.delete})"></th:block>
        </form>


    </div>
</body>
</html>
