<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SZE</title>
    <meta charset="UTF-8" th:remove="all" />
    <link rel="shortcut icon" href="../static/images/sze.ico"
        type="image/x-icon" th:href="@{/images/sze.ico}" />
    <link rel="icon" href="../static/images/sze.ico"
        type="image/x-icon" th:href="@{/images/sze.ico}" />

    <link rel="stylesheet" href="../static/css/bootstrap-ppi.css"
        th:href="@{/css/bootstrap-ppi.css}" />
    <link rel="stylesheet" href="../static/css/DT_bootstrap.css"
        th:href="@{/css/DT_bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/sze.css"
        th:href="@{/css/sze.css}" />
    <script type="text/javascript"
        src="../../../static/js/jquery-1.8.2.js"
        th:src="@{/js/jquery-1.8.2.js}"></script>
    <script type="text/javascript"
        src="../../../static/js/sze.js"
        th:src="@{/js/sze.js}"></script>
</head>
<body>
    <h3 th:text="#{fkexception.title}"></h3>
    <div class="alert alert-info">
        <th:block th:utext="#{fkexception.message(${backurl})}"></th:block>
    </div>
    <h4 id="technicalDetailTitle">
        <span th:text="#{error.technical.title}" th:remove="tag"></span>
        <span id="actionButtonToggleDetails"><i class="icon-chevron-down"> </i></span>
    </h4>
    <div class="well" id="technicalDetails">
        <span th:text="${message}"></span>
    </div>

</body>
</html>
