<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="#{app.title} + ' - ' + #{login.title}"></title>
    <th:block th:include="/main::head"/>
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="../static/images/sze_logo.jpg"
                th:src="@{/images/sze_logo.jpg}" alt="SZE-Logo" />
        </div>
    </div>

    <div class="well">
    <div class="alert alert-error" th:text="#{login.failed}" th:if="${#httpServletRequest.method == 'POST'}"></div>
    <form class="form-horizontal" th:action="@{/html5_error.html}" method="post">
        <input type="text" bs:name="username" th:value="${username}"/>
        <input type="password" bs:name="password" th:value="${password}"/>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn"
                    th:text="#{login.button}" th:formaction="@{/login}">Log in</button>
            </div>
        </div>
    </form>
    </div>
        <div class="alert alert-info">
        <b>Erl&auml;uterung:</b> <span th:utext="#{help.login}"
            th:remove="tag">Ein erläuternder Text.</span>
    </div>
</body>
</html>
