<!DOCTYPE html>
<!-- PARAMS:
helpMessageId - die MessageId für die Hilfe.
success - Erfolgsmeldung
message - ein Nachricht
messages - eine Liste mit Meldungen.
 -->
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:attr="data-baseurl=@{'/'}">
<meta charset="UTF-8" />
<link rel="shortcut icon" href="../static/images/sze.ico"
    type="image/x-icon" th:href="@{/images/sze.ico(version=#{app.version})}" />
<link rel="icon" href="../static/images/sze.ico"
    type="image/x-icon" th:href="@{/images/sze.ico(version=#{app.version})}" />

<link rel="stylesheet" href="../static/css/bootstrap-ppi.css"
    th:href="@{/css/bootstrap-ppi.css(version=#{app.version})}" />
    <link rel="stylesheet" href="../static/css/DT_bootstrap.css"
    th:href="@{/css/DT_bootstrap.css(version=#{app.version})}" />
<link rel="stylesheet" href="../static/css/sze.css"
    th:href="@{/css/sze.css(version=#{app.version})}" />


<link rel="stylesheet"
    href="../../../static/css/smoothness/jquery-ui-1.9.1.custom.css"
    th:href="@{/css/smoothness/jquery-ui-1.9.1.custom.css}" />
<link rel="stylesheet"
    href="../../../static/css/smoothness/datetimepicker.css"
    th:href="@{/css/smoothness/datetimepicker.css}" />
<script type="text/javascript"
    src="../../../static/js/jquery-1.8.2.js"
    th:src="@{/js/jquery-1.8.2.js}"></script>
<script type="text/javascript"
    src="../../../static/js/jquery-ui-1.9.1.custom.js"
    th:src="@{/js/jquery-ui-1.9.1.custom.js}"></script>
<script type="text/javascript"
    src="../../../static/js/chosen.jquery.js"
    th:src="@{/js/chosen.jquery.js(version=#{app.version})}"></script>
<script type="text/javascript"
    src="../../../static/js/jquery-ui-timepicker-addon.js"
    th:src="@{/js/jquery-ui-timepicker-addon.js(version=#{app.version})}"></script>
<script type="text/javascript"
    src="../../../static/js/jquery.dataTables.js"
    th:src="@{/js/jquery.dataTables.js(version=#{app.version})}"></script>
<script type="text/javascript"
    src="../../../static/js/DT_bootstrap.js"
    th:src="@{/js/DT_bootstrap.js(version=#{app.version})}"></script>
<script type="text/javascript"
    src="../../../static/js/sze.js"
    th:src="@{/js/sze.js(version=#{app.version})}"></script>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{app.title}">SZE</title>
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="../static/images/sze_logo.jpg"
                th:src="@{/images/sze_logo.jpg}" alt="SZE-Logo" />
        </div>
        <div id="info">
            Hallo Sie sind eingeloggt in sze Version <i th:text="#{app.version}">3.0.0</i>
                als: <th:block shiro:principal=""/> (<a href="auth/logoff"
                    th:href="@{#{nurl.security.logout}}">Abmelden</a>)
        </div>
    </div>
    <!-- TODO nachfolgendes in Abhängigkeit von der Rollen anzeigen. -->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li shiro:hasPermission="admin:overview"
                    th:class="${#strings.contains(#httpServletRequest.getRequestURI(),'/admin/')?'active':''}">
                    <a href="#" th:href="@{#{nurl.admin.main}}">Administration</a></li>
                <li shiro:hasPermission="config:overview"
                    th:class="${#strings.contains(#httpServletRequest.getRequestURI(),'/konfiguration/')?'active':''}">
                    <a href="#" th:href="@{#{nurl.configuration.main}}">Konfiguration</a></li>
                <li shiro:hasPermission="zeugnis:overview"
                    th:class="${#strings.contains(#httpServletRequest.getRequestURI(),'/zeugnis/') or #strings.contains(#httpServletRequest.getRequestURI(),'/bewertungen/')?'active':''}">
                    <a href="#" th:with="#{par.session.halbjahr_id}=${#objects.nullSafe(halbjahr_id,0)},
                        #{par.session.klassen_id}=${#objects.nullSafe(klassen_id,0)}"
                        th:href="@{|__#{nurl.zeugnispath.start}__|}">Zeugnisse</a></li>
            </ul>
            <ul class="nav pull-right">
                <li shiro:user="">
                    <a href="auth/logoff" th:href="@{#{nurl.security.logout}}">Abmelden</a></li>
            </ul>
        </div>
    </div>
    <div class ="row-fluid">
        <div th:replace="fragments::info"></div>
        <div layout:fragment="content" th:remove="tag">Hier wird die
            eigentlich Seite angezeigt.</div>
    </div>
    <div class="alert alert-info"
        th:unless="${#strings.isEmpty(helpMessageId)}">
        <b>Erl&auml;uterung:</b> <span th:utext="#{${helpMessageId}}"
            th:remove="tag">Ein erläuternder Text.</span>
    </div>
    <hr/>
    <div class="text-right"><small>Ein Teil der Icons stammen von <a href="http://www.pinvoke.com">Yusuke Kamiyamane/Pinvoke</a> bzw.
    wurden aus diesen zusammengestellt.</small></div>
</body>
</html>
