<!-- Parameter:
arbeitsgruppeList - PageWrapper<Arbeitsgruppe>

pageRequest - the parameter of this search.
 -->

<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="/main">
<head>
<script type="text/javascript"
    src="../../../resources/js/jquery-1.8.2.js" th:remove="all"></script>
<script type="text/javascript"
    src="../../../resources/js/thymelaefbs.js?1" th:remove="all"></script>
<script type="text/javascript" ></script>
</head>
<body>
    <div layout:fragment="content" class="container-fluid">
        <h3 th:text="#{arbeitsgruppe.list.title}">Liste</h3>
        <a class="btn" href="/" th:href="@{#{nurl.arbeitsgruppe.create}}" th:text="#{label.action.create}">Create a new entry</a>
        <div id="data">
            <span th:if="${#lists.isEmpty(arbeitsgruppeList)}" th:text="#{label.no_data_found}"></span>
            <table class="datatable_with_action table table-striped table-hover">
                <thead>
                    <tr>
                        <th th:text="#{net.sf.sze.model.zeugnisconfig.Arbeitsgruppe.sortierung}">Id</th>
                        <th th:text="#{net.sf.sze.model.zeugnisconfig.Arbeitsgruppe.name}">Id</th>
                        <th th:text="#{net.sf.sze.model.zeugnisconfig.Arbeitsgruppe.klassenstufen}">Id</th>
                        <th th:text="#{label.actions}">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="arbeitsgruppe : ${arbeitsgruppeList.content}">
                        <td th:text="${arbeitsgruppe.sortierung}">1</td>
                        <td th:text="${arbeitsgruppe.name}">1</td>
                        <td th:text="${arbeitsgruppe.klassenstufen}">1</td>
                        <td th:with="#{par.arbeitsgruppe.arbeitsgruppe_id}=${arbeitsgruppe.id}">
                            <a class="btn" href="show/1" th:href="@{|__#{nurl.arbeitsgruppe.show}__|}" ><i class="imageshow"></i></a>
                            <a class="btn" href="edit/1" th:href="@{|__#{nurl.arbeitsgruppe.edit}__|}" ><i class="edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination pagination-centered"  th:with="page=${arbeitsgruppeList}" th:include="fragments::paginationbar" >
            <ul>
              <li >
                <a >&larr; First</a>
              </li>
              <li >
                <a title="Go to previous page">&laquo;</a>
              </li>
              <li >
                <a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span >1</span></a>
              </li>
              <li class="active">
                <span >2</span>
              </li>
              <li >
                <a ><span >3</span></a>
              </li>
              <li >
                <a title="Go to next page">&raquo;</a>
              </li>
              <li >
                <a >Last &rarr;</a>
              </li>
            </ul>
        </div>
    </div>
</body>
</html>
